.text {
            text-align: center;
        }



hr {
    
    border-style: none;
    border-top-style: dotted;
    color: black;
    border-color: #4F200D;
    border-width: 10px;
    width: 30%;

}

div{
    background-color:#f2ce95 ;
    border: 30px;
    border-radius: 25px;
    padding: 12px;
    
}

body {
    padding: 15;
    background-color:#454545;
    width: 500;
}
h1 {
    color:#4F200D
    ;
}
h3 {
    color:#4F200D
    ;
}

a {
    color: #d78521;
}
ul {
    color:#4F200D;
}
p {
    color: #363028;
}

footer{

    padding: 20px;
    border-radius: 25px;
    background-color: bisque;
    text-align:center;
    margin-top: 10px;
} 



