.text {
            text-align: center;
        }


hr {
    
    border-style: none;
    border-top-style: dotted;
    color: black;
    border-color: #4F200D;
    border-width: 10px;
    width: 30%;
}

body {
    background-color:#f2ce95;
}
h1 {
    color:#4F200D
    ;
}
h3 {
    color:#4F200D
    ;
}

a {
    color: #FF8400;
}
ul {
    color:#4F200D;
}
p {
    color: #363028;
}



